@{
    ViewData["Title"] = "Home Page";
}


<div class="d-flex flex-column justify-content-start align-items-center vh-100 pt-5">
    <div class="text-center">
        <h1 class="display-4">مرحبًا بك!</h1>
        <p class="lead">الرجاء اختيار الإجراء:</p>

        <div class="d-flex justify-content-center align-items-center gap-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" asp-area="" asp-controller="Students" asp-action="Index">
                        <i class="fas fa-user-graduate"></i> قائمة الطلاب
                    </a>
                </li>
            </ul>

            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" asp-area="" asp-controller="Students" asp-action="Create">
                        <i class="fas fa-user-graduate"></i> تسجيل طالب جديد
                    </a>
                </li>
                </li>
            </ul>
        </div>
    </div>
</div>